@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #291F1E;
  --secondary: #37393A;
  --accent: #FF7D2C;
  --background: #F4F4ED;
}

body {
  color: var(--primary);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
} 
