@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #291F1E;
  --secondary: #595D5F;
  --accent: #FF7D2C;
  --background: #F4F4ED;
}

@theme {
  --color-primaryColor: var(--primary);
  --color-secondaryColor: var(--secondary);
  --color-accentColor: var(--accent);
  --color-backgroundColor: var(--background);
}

body {
  color: var(--primary);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* section {
  scroll-margin-top: 80px;
} */

html {
  scroll-behavior: smooth;
}


.navbar-shadow {
  box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.05);
}

.button-shadow {
  box-shadow: 0px 2px 15px 4px rgba(0, 0, 0, 0.08);
}
